<div class="selection-dishes">
          <div class="container">
            <div class="row">
            {% for dish in dishes %}
              <div class="col-lg-4 col-md-6 col-sm-6 selection-row">
                <div class="dish-card mt-5">
                  <div class="dish-img">
                    <img src="{{ dish.url }}" alt="{{ dish.name }}">
                  </div>
                  <div class="dish-content">
                    <div class="dish-info">
                      <h3>{{ dish.name }}</h3>
                      <p>{{ dish.price }} €</p>
                    </div>
                    <p class="dish-text">{{ dish.description }}</p>
                    <a href="{{ path('cart_add', {id: dish.id}) }}" class="btn btn-success"><i class="fas fa-cart-arrow-down"></i>Ajouter</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <nav aria-label="..." class="mt-5">
            <ul class="pagination">
              <li class="page-item {{ page == 1 ? 'disabled': '' }}">
                <a class="page-link" href="?page={{page - 1}}">Précédent</a>
              </li>
              {% set pages = (total / limit)|round(0, 'ceil') %}
              {% for item in 1..pages %}
              <li class="page-item {{ page == item ? 'active' : '' }}">
                <a class="page-link" href="?page={{item}}" >{{ item }}</a>
              </li>
              {% endfor %}
              <li class="page-item {{ (page == pages) ? 'disabled': '' }}">
                <a class="page-link" href="?page={{page + 1}}">Suivant</a>
              </li>
            </ul>
          </nav>
        </div>