{% extends 'base-admin.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Gestion des catégories</h2>
    <div class="row">
        <div class="col-lg m-4">
          <span><a href="{{ path('add_category') }}">+ Ajouter une catégorie</a></span>
            <table class="table">
                <thead style="background-color: #2C3E4E; color: white;">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                  <tr>
                    <th scope="row">{{ category.id }}</th>
                    <td>{{ category.name }}</td>
                    <td><a class="btn btn-primary" href="{{ path('update_category', {id: category.id}) }}" title="modifier"><i class="fas fa-edit"></i></a></td>
                    <td><a class="btn btn-danger" href="{{ path('delete_category', {id: category.id}) }}" title="supprimer"><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}
